
.main-section{
    max-width: 1000px;
    margin: auto;
}

.programlg-item {
    margin-bottom: 10px;
}

.button-list-section {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.button-list-section fieldset {
    display: inline-flexbox;
    margin: 20px 0;
}

#result {
    color: red;
    font-size: 20px;
}

.selected {
    font-weight: bold;
}